<nav class="navbar navbar-expand-lg navbar-light " style="background-color: tan;">
  <a class="navbar-brand" href="#">BuenoMorsel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
      <li class="nav-item active">
        <a class="btn btn-outline-warning nav-link" routerLink="home" id="home" role="button" style="margin: 2px;">Home </a>
      </li>
    
      <li class="nav-item">
        <a class="btn btn-outline-warning nav-link" routerLink="posts" id="posts" role="button" style="margin: 2px;">Posts</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!loggedInUser; else user1" class="btn btn-outline-warning nav-link disabled" routerLink="my-portfolio" role="button" aria-disabled="true" style="margin: 2px;"> My Portfolio</a>
          <ng-template #user1>
            <a class="btn btn-outline-warning nav-link" routerLink="portfolios" id="portfolios" role="button" style="margin: 2px;">Portfolio</a>
          </ng-template>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <span id="user">
        <a class="btn btn-outline-warning nav-link"role="button" *ngIf="!loggedInUser; else user2" (click)="showLogin=!showLogin" id="login" routerLink="login" >Show Login </a>
        <ng-template #user2>
          {{ loggedInUser.username }}
          <a class="btn btn-outline-warning " (click)="logOut()" id="logout" role="button" style="margin: 2px;" >Log Out </a>
        </ng-template>
      </span>
    </form>
  
  </div>
</nav>
   
